body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-image: url(C:/Users/maze/Desktop/code/no-help-me-choose/no-help-me-choose/image/cow-scotland.jpg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

h1 {
  font-weight: lighter;
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #FFFFFF;
  #white-space: nowrap;
  padding: 20px;
  text-shadow: 0 0 5px #000000;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
  margin-bottom: 10px;
}

.addOption {
font-size: 15px;
}
